{% extends 'base.html' %}

{% block content %}
    <div>
        <ul class="profile_list">
            <li>
                <!--Image-->
                <img height="200", width="200" , src={{realtor.profile_picture}}, alt="Profile picture">
                <!--ATH CLASS-->
            </li>
            <li>
                <h5>{{realtor.user.first_name}}</h5>
                <p>Phone: {{realtor.phone_number}}</p>
                <p>Email: {{realtor.user.email}}</p>
                <p>Licence number: {{realtor.license_number}}</p>
            </li>
        </ul>
    </div>
{% endblock %}


