{% extends 'base.html' %}
{% load static %}

<!DOCTYPE>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/realtor.css' %}">
</head>
{% block content %}
<body>
    <div>
        <ul class="profile_list">
            <li>
                <!--Image-->
                <img height="200", width="200" , src={{realtor.profile_picture}}, alt="Profile picture">
                <!--ATH CLASS-->
            </li>
            <li>
                <h5>{{realtor.name}}</h5>
                <p class="test_text">Phone: {{realtor.phone_number}}</p>
                <p>Email: {{realtor.user.email}}</p>
                <p>Licence number: {{realtor.license_number}}</p>
            </li>
        </ul>
    </div>
</body>
{% endblock %}
</html>


