{% extends 'base.html' %}

{% block content %}
    <div style="text-align: center;">
        <h2 style="padding: 1%">Realtors</h2>
        <p style="background: gray; height: 1px; width: 5%; margin: 0 auto"></p>
    </div>
    <!-- Afritað úr 'single property', vantar þannig fyrir realtors. -->
    <div class="card-group properties" style="justify-content: center; width: 80%; margin: 0 auto; padding-top: 1%">
        {% for realtor in realtors %}
            {% include 'realtor/single_realtor.html' with realtor=realtor %}
        {% endfor %}
    </div>
{% endblock %}