<div class="realtor">
    <a href="/realtor/{{ realtor.id }}">
        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <img src="{{ realtor.profile_picture }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ realtor.user.name }}</h5>
                    <p class="card-text">{{ realtor.user.phone }}</p>
                    <p class="card-text">{{ realtor.user.email }}</p>
                </div>
            </div>
        </div>
    </a>
</div>