{% extends 'base.html' %}

{% block content %}
    <div class="container" id="property">
        <h1>{{ property.street_name }} {{ property.street_number }},<h5> {{ property.zip }} {{ property.city }}</h5></h1>
        <div class="row">
            <div class="col">
            <div id="carousel" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                {% for property_image in property.propertyimage_set.all %}
                    {% if forloop.first %}
                        <li data-target="#carousel_Indicators" data-slide-to="0" class="active"></li>
                    {% else %}
                        <li data-target="#carousel_Indicators" data-slide-to="{{ forloop.counter0 }}"></li>
                    {% endif %}
                {% endfor %}
              </ol>
              <div class="carousel-inner">
                  {% for property_image in property.propertyimage_set.all %}
                      {% if forloop.first %}
                         <div class="carousel-item active">
                            <img class="d-block w-100" src="{{ property_image.image }}" alt="{{ property_image.image_tag }}" title="{{ property_image.image_tag }}">
                         </div>
                      {% else %}
                         <div class="carousel-item">
                            <img class="d-block w-100" src="{{ property_image.image }}" alt="{{ property_image.image_tag }}" title="{{ property_image.image_tag }}">
                         </div>
                      {% endif %}
                  {% endfor %}
              </div>
              <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
        </div>
        <div class="col">
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">ZIP</th>
                  <td>{{ property.zip }}</td>
                </tr>
                <tr>
                  <th scope="row">City</th>
                  <td>{{ property.city }}</td>
                </tr>
                <tr>
                  <th scope="row">Country</th>
                  <td>{{ property.country }}</td>
                </tr>
                <tr>
                  <th scope="row">Type</th>
                  <td>{{ property.type }}</td>
                </tr>
                <tr>
                  <th scope="row">Size</th>
                  <td>{{ property.size }}</td>
                </tr>
                <tr>
                  <th scope="row">Rooms</th>
                  <td>{{ property.rooms }}</td>
                </tr>
                <td>
                    <button type="button" action="{ url 'payment_info' }"> B U Y   N O W </button>
                </td>
              </tbody>
            </table>
        </div>
        </div>
        <br>
        <p id="property_description">{{ property.property_description }}</p>
        <h1>{{ property.price|floatformat:"0" }}kr</h1>


        <div>
            {% include 'realtor/single_realtor.html' with realtor=property.realtor %}
        </div>

    </div>
{% endblock %}
