{% extends 'base.html' %}

{% block content %}
    <h1>{{ property.street_name }} {{ property.street_number }} Price: {{ property.price }}</h1>
    <p>Description: {{ property.property_description }}</p>
    <p>ZIP: {{ property.zip }}</p>
    <p>City{{ property.city }}</p>
    <p>ZIP: {{ property.zip }}</p>
    <p>Country {{ property.country }}</p>
    <p>Type: {{ property.type }}</p>
    <p>Size: {{ property.size }}</p>
    <p>Rooms: {{ property.rooms }}</p>
    {% for property_image in property.propertyimage_set.all %}
        <img src="{{ property_image.image }}" class="property-img">
    {% endfor %}
{% endblock %}