{% extends 'base.html' %}

{% block content %}
<div class="container">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Region
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Europe</a>
              <a class="dropdown-item" href="#">North-America</a>
              <a class="dropdown-item" href="#">Asia</a>
            </div>
          </li>
    </ul>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Type
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Apartment</a>
              <a class="dropdown-item" href="#">House</a>
              <a class="dropdown-item" href="#">Bungalow</a>
            </div>
          </li>
    </ul>
</div>
{% endblock %}
