{% extends 'base.html' %}

{% block content %}
    <head>
        <title>Castle Real Estate</title>
    </head>
    <div class="search-container shadow bg-white rounded" style="padding-bottom: 2%">
        <h4 style="padding: 1%">Find Property</h4>
    <div style="width: 90%; margin: 0 auto">
        <div class="search-field">
            <input type="search" class="form-control" id="search-box" placeholder="Street name..."/>
        </div>
        <div class="search-field">
            <select class="custom-select" id="zipSelect">
              <option selected>ZIP</option>
                {% for zip in zips %}
                    <option value="{{ zip.zip }}">{{ zip.zip }}</option>
                {% endfor %}
            </select>
            <select class="custom-select" id="typeSelect" style="width: 50%">
              <option selected>Type</option>
                {% for type in types %}
                    <option value="{{ type.type }}">{{ type.type }}</option>
                {% endfor %}
            </select>
        </div>
        <div style="padding-top: 8%">
            <div style="text-align: center">
                Price Range
            </div>
            <div style="text-align: center">
                <input id="price-from-box" type="text" placeholder="From" class="form-control" style="width: 20%; display: inline">
                <input id="price-to-box" type="text" placeholder="To" class="form-control" style="width: 20%; display: inline">
            </div>
        </div>
            <p style="width: 50%">
                <a class="btn btn-link" data-toggle="collapse" href="#advancedSearch" role="button" aria-expanded="false" aria-controls="collapseExample" style="color: black; padding: 0">
                    Advanced Search&darr;
                </a>
            </p>
            <div class="collapse" id="advancedSearch">
                <div class="card card-body" style="margin: 0">
                    <div style="text-align: center">
                        <div style="text-align: center; width: 50%; float: left">
                            Size in m&sup2;
                        </div>
                        <div style="text-align: center; width: 50%; float: left">
                            Number of rooms
                        </div>
                        <div style="width: 50%; float: left">
                            <input id="size-from-box" type="text" placeholder="Size From" class="form-control" style="width: 30%; margin: 0 auto; display: inline">
                            <input id="size-to-box" type="text" placeholder="Size To" class="form-control" style="width: 30%; margin: 0 auto; display: inline">
                        </div>
                        <div style="width: 50%; float: left">
                            <input id="rooms-box" type="text" placeholder="Rooms" class="form-control" style="width: 40%; margin: 0 auto">
                        </div>
                    </div>
                </div>
            </div>
            <div style="text-align: right">
                <button type="button" id="search-btn" class="btn btn-primary">Search</button>
            </div>
        </div>
    </div>
    <div style="text-align: right; margin-right: 6%">
        <button id="order-by-btn" onclick="sortProperties()" type="button" class="btn btn-link" style="color: black">Order By A-Z&darr;</button>
    </div>
    <div class="card-group properties" style="justify-content: center; width: 100%; margin: 0 auto">
        {% for property in properties %}
            {% if property.is_active %}
                {% include 'property/single_property.html' with property=property %}
            {% endif %}
        {% endfor %}
    </div>
    <div aria-live="polite" aria-atomic="true" style="position: fixed; min-width: 400px; top: 90%; right: -5%">
        <div class="toast" data-autohide="false" style="position: absolute">
            <div class="toast-header">
                <strong class="mr-auto text-primary">Search Error</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
            </div>
            <div class="toast-body">
                An error occured performing your search
            </div>
        </div>
    </div>
    {% include 'property/recently_viewed.html' %}

{% endblock %}
