{% extends 'base.html' %}

{% block content %}
    <div class="frontpage_container">
<div class="container" id="search_container">
    <div class="toast" data-autohide="false">
        <div class="toast" data-autohide="false">
            <div class="toast-header">
                <strong class="mr-auto text-primary">Search Error</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
            </div>
            <div class="toast-body">
                An error occured performing your search
            </div>
        </div>
    </div>
    <div class="input-group">
        <input type="search" class="form-control" id="search-box" placeholder="Enter your search here"/>
        <div class="input-group-btn">
            <button type="button" id="search-btn" class="btn btn-default">Search</button>
        </div>
    </div>
  <div class="row">
      <div class="col-5"> </div>
      <div class="col"> Price </div>
  </div>
  <form class="form-inline" method="post">
      <div class="row">
          <div class="col">
            <select class="custom-select" id="zipSelect">
              <option selected>ZIP</option>
                {% for zip in zips %}
                    <option value="{{ zip.zip }}">{{ zip.zip }}</option>
                {% endfor %}
            </select>
          </div>
            <div class="col">
                <select class="custom-select" id="typeSelect">
                  <option selected>Type</option>
                    {% for type in types %}
                        <option value="{{ type.type }}">{{ type.type }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <input type="text" placeholder="From">
                <input type="text" placeholder="To">
            </div>
      </div>
  </form>
</div>

<div class="card-group properties" style="display: flex; justify-content: center">
{% for property in properties %}
    {% include 'property/single_property.html' with property=property %}
{% endfor %}
</div>
    </div>
{% endblock %}
