{% load humanize %}
<div>

    <div class="card" style="width: 20rem; display:flex;">
        <div class="top-block-container">
            <div class="card-header" id="property-card-header">

                <h4 style="color: white; opacity: 1;">{{ property.price|floatformat:"0"|intcomma }}kr.</h4>
            </div>
           <a href="/property/{{ property.id }}"><img src="{{ property.propertyimage_set.first.image.url }}"
                                                      alt="{{ property.propertyimage_set.first.image_tag }}" class="card-img-top"></a>
            <div class="card-body" style="padding: 0">
                <div class="left-block-container">
                    <span style="display: block; font-weight: bold">{{ property.street_name }} {{ property.street_number }}</span>
                    <span style="display: block; padding-top: 10px">{{ property.zip.get_city }}, {{ property.zip.get_zip }}</span>

                </div>
                <div class="right-block-container">

                    <span style="display: block;">{{ property.size }}m&sup2;</span>
                    <span style="display: block; padding-top: 10px; font-weight: lighter">{{ property.type.get_type }}</span>

                </div>

            </div>
        </div>
    </div>

    <div class="card-footer bg-transparent row border border-light">
        <div class="left-block-container">
            <a href="change_property/{{ property.id }}" class="btn btn-success"> Change
                Property </a>
        </div>
        <div class="right-block-container">
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="property_id" value="{{ property.id }}">
                <button type="submit" class="btn btn-danger" name='delete_property'
                        style="float: left; margin-right: 2%;">Delete
                </button>
            </form>
        </div>
    </div>
</div>