{% load humanize %}
<div class="property" style="margin-right: 1%">
    <a href="/property/{{ property.id }}">
        <div class="card" style="width: 20rem;">
            <a style="z-index: 1111"><span id="favourite-star" style=" color: white; position: absolute; right: 0; font-size: 5rem; border: black 1px; margin-top: -10%; opacity: 0.6">&#9733;</span></a>
            <img src="{{ property.propertyimage_set.first.image.url }}" class="card-img-top" alt="{{ property.propertyimage_set.first.image_tag }}">
            <div class="card-header" id="property-card-header"><h4 style="color: white; opacity: 1;">{{ property.price|floatformat:"0"|intcomma }}kr.</h4>
        </div>
            <div class="card-body" style="padding: 0">
                <div class="left-block-container">
                    <span style="display: block; font-weight: bold">{{ property.street_name }} {{ property.street_number }}</span>
                    <span style="display: block; padding-top: 10px">{{ property.zip.get_city }}, {{ property.zip.get_zip }}</span>
                </div>
                <div class="right-block-container">
                    <span style="display: block;">{{ property.size }}m&sup2;</span>
                    <span style="display: block; padding-top: 10px; font-weight: lighter">{{ property.type.get_type }}</span>
                </div>
            </div>
        </div>
    </a>
</div>
