.gradient {
    background: linear-gradient(to right bottom, #3e53e1, #4465e5, #4f75e8, #5d85e9, #6d94e9, #66a3f0, #64b1f5, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1) fixed;
}
.top-navigation{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 10px; /* hvít lína fyrir neðan header */
    width: 100%;
    background-color: dodgerblue !important;
    color: white !important;
    text-align: center;
    font-size: 1.2rem;
}
.navbar-brand {
    text-align: center;
    color: white;
}
.navflexcontainer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.navstart {
    display: inline-flex;
    justify-content: flex-start;
    padding-right: 5rem;
}
.navmid {
    display: inline-flex;
    justify-content: center;
}
.navend {
    display: inline-flex;
    justify-content: flex-end;
    padding-left: 5rem;
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: white;
}
.login {
    color: white;
}
.login-buttons {
    display: inline-flex;
    justify-content: flex-end;
}
.mail {
    color: white;
}
.card {
    overflow: hidden;
    margin-bottom: 10%;
}
.card-img-top {
    width: 200px;
    max-height: 200px;
    min-height: 200px;
}
.card-body {
    color: black;
}
.card:hover {
    opacity: 0.9;
}
#property-card-header {
    height: 50px;
    position: absolute;
    text-align: center;
    background: dodgerblue;
    border-bottom-right-radius: 10px;
    opacity: 0.8;
}
.left-block-container {
    font-size: 15px;
    width: 50%;
    float: left;
    padding: 10px 0 10px 10px;
}
.right-block-container {
    font-size: 15px;
    width: 50%;
    float: left;
    text-align: right;
    padding: 10px 10px 10px 0;
}
.navbar-element {
    color: white;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.navbar-element:hover, .nav-link:hover{
    color: white !important;
    background-color: #1e4eff;
    text-decoration: none;
}
.content {
    flex: 1 0 auto;
}
.footer {
    background-color: dodgerblue;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;


}
.footercontainer {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    height: inherit;
}

.footeritem {
    margin: 0;
    padding-left: 1em;
    padding-right: 1em;
    border:0;
    flex-wrap: wrap;
}

.search-container {
    width: 50%;
    margin: 1% auto;
    border-radius: 5px
}

.search-field {
    width: 50%;
    float: left
}

#zipSelect {
    width: 50%;
    float: left
}

.asteriskField {
    display: none;
}

.decorated{
     overflow: hidden;
     text-align: center;
    padding-bottom: 1%;
 }

.decorated > span{
    position: relative;
    display: inline-block;

}

.decorated > span:before, .decorated > span:after{
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 1px solid;

    width: 500px;
    margin: 0 30px;
}

.decorated > span:before{
    right: 100%;

}

.decorated > span:after{
    left: 100%;
}
