#address{
    padding-top: 20px;
}

#buy_button{
    color: white;
    background-color: orangered;
    border: 5px solid orange;
    padding: 2rem;
    overflow-wrap: unset;
}

#property_description {
    display: inline;
}

.carousel-inner > .carousel-item {
   height: 300px;
}

.carousel-inner active{
    heigt: 200px
}

.col > .table {
    max-width: 1%;
}

#property {
    min-width: 70%;
}

#info_table{
    table-layout: fixed;
    width: 600px;
}

#info_block{
    width: 400px;
}

.realtor_title{
    font-size: 1.5rem;
}

