#buy_button{
    margin-left: 1rem;
    margin-top: 4rem;
    padding-left: 1.5rem;
    color: white;
    background-color: orangered;
    border: 5px solid orange;
}

#property_description {
    display: inline;
}

.carousel-inner > .carousel-item {
   height: 300px;
}

.carousel-inner active{
    heigt: 200px
}

.col > .table {
    max-width: 1%;
}

#property {
    min-width: 70%;
}