#address{
    padding-top: 20px;
}

#property {
    min-width: 90%;
}

#info_table{
    width: 20%;
    table-layout: fixed;
    margin-left: 2%;
}

#carousel {
    width: 60%;
    float: left;
}

.carousel-item img {
    object-fit: cover;
    width: 80%;
    height: 70%;
}

.info_row{
    margin-right: 5rem;
}

#property_description{
    margin-top: 3rem;
    margin-left: 5rem;
    margin-right: 0rem;
    width: 40%;
}

#property_realtor{
    display: inline;
}