#realtor_photo{
    margin-top: 3rem;
    width: 250px;
    height: 250px;
    object-fit: cover;
    float: left;
}

#realtor_info{
    margin-top: 3rem;
    margin-left: 2rem;
    padding: 0px;
}

#realtor_properties{
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1rem;
    padding-top: 1rem;
}

.realtor_item{
    margin-bottom: 0rem;
    margin-left: 1rem;
}

#realtor_name {
    margin-bottom: 0.5rem;
}

.media:hover {
    opacity: 0.8;
}

#single-realtor {
    border-radius: 5px;
    width: 30%;
    margin: 1%;
    padding: 0;
    overflow: hidden;
}

#realtor-property{
    width: 100%;
    display: inline-block;
    margin-right: 7rem;
    padding-right:3rem;
}

#realtor-media-picture {
    object-fit: cover;
    height: 200px;
    max-width: 200px;
    float: left
}

.gray-line {
    background: gray;
    height: 1px;
    width: 75%;
    margin: 0 auto
}

.media-header {
    text-align: center;
    margin: 3%
}

#realtor-contact-information{
    margin: 8% 0 0 12%
}

.contact-information-type{
    margin: 0;
    font-weight: 500;
    color: dodgerblue;
}

.contact-information-value {
    margin: 0;
    text-indent: 7px;
    font-size: 14px
}

#realtor-link {
    text-decoration: none;
    color: inherit;
}

