#edit_profile_button{
    margin-top: 3rem;
    float: right;
    background-color: gainsboro;
    border: 2px solid darkgray;
    height: min-content;
    width: 85px;
}

.btn.btn-secondary{
    margin-top: 3rem;
    margin-left: 3rem;
    height: 40px;
}

#cart_title{
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.wrapped_flex_properties {
    display: flex;
    flex-flow: column;
    margin: 1rem 0.5rem 2rem 0.5rem;
}