{% extends 'base.html' %}

{% block content %}
<h1>About us</h1>
<p>Castle Appartments is a small company run by a couple of fellows out of Reykjavík. These fellows are making their first try at making it in the real estate business.</p>
<p>This website only sells the top grade apartments for the highest class clients. All of the appartments are sold through credit card ONLY and we expect our customers to have enough cash on their credit cards to purchase an apartments.</p>
<br>
<p>We are only taking in requests through our website as of right now but in the future we do see our business expanding into taking payments through bitcoin.</p>
<br>
<h4>Contact us:</h4>
<p>Phone: 581-2345</p>
<p>Mail:  CastleApartments@Castle.com</p>
{% endblock %}