{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/realtor.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="top-navigation b-menu  trans">
        <div class="navbar-container" style="display: flex; flex-wrap: wrap;">
            <a href="{% url 'frontpage' %}" class="navbar-element">Home</a>
            <a href="{% url 'realtor' %}" class="navbar-element">Relators</a>
            <a href="{% url 'frontpage' %}" class="navbar-logo"><img src="/static/images/Logo.png" alt="Castle Apartments Logo" style="width: 300px;"></a>
            <a href="#" class="navbar-element">About Us</a>
            <ul class="nav navbar-element">
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Account</a>
                    <div class="dropdown-menu">
                        {% if user.is_authenticated %}
                            <a href="{%url 'profile' %}" class="dropdown-item">Profile</a>
                            <a href="{%url 'logout' %}" class="dropdown-item">Log-Out</a>
                        {% else %}
                            <a href="{% url 'login' %}" class="dropdown-item">Log-In</a>
                            <a href="{% url 'register' %}" class="dropdown-item">Register</a>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>
    </nav>
        {% block content %}

        {% endblock %}
    <footer class="footer mt-auto py-3">
        <div class="footercontainer">
            <div>    <p class="footeritem">Information</p></div>
            <div>    <p class="footeritem">Contact Us</p></div>
            <div>    <p class="footeritem"><a class=mail href="mailto:castle@castle.com">castle@castle.com</a></p></div> <!---->
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static 'js/properties.js' %}"></script>
  </body>
</html>
    
