{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg ">

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'frontpage' %}">Home <span class="sr-only">(current)</span></a>
          </li>
            <li class="nav-item active">
            <a class="nav-link" href="{% url 'realtor' %}">Realtors <span class="sr-only">(current)</span></a>
          </li>

            <a class="navbar-brand" href="#">Castle Apartments</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
            </button>


            <!-- <li class="nav-item active">
            <a class="nav-link" href="#">Log In <span class="sr-only">(current)</span></a>
          </li> -->
            <div class="login-buttons">
            <li class="nav-item active">
            <a class="login" href="#">About Us <span class="sr-only">(current)</span></a>
          </li>
            {% if user.is_authenticated %}
                <li><a class="login" href="{%url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a class="login" href="{% url 'login' %}">Login</a></li>
                <li><a class="login" href="{% url 'register' %}">Register</a></li>
            {% endif %}
            </div>
        </ul>
      </div>
    </nav>
        {% block content %}

        {% endblock %}
    <footer class="footer mt-auto py-3">
        <div class="footercontainer">
            <div>    <p class="footeritem">Information</p></div>
            <div>    <p class="footeritem">Contact Us</p></div>
            <div>    <p class="footeritem"><a class=mail href="mailto:castle@castle.com">castle@castle.com</a></p></div> <!---->
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
    
