{% extends 'base.html' %}
{% load humanize %}

{% block content %}
    <head>
        <title>Cart</title>
    </head>
    <div id="cart_title">
        <h1>My Cart</h1>

        <h6>Total: {{ total|floatformat:"0"|intcomma }}kr</h6>
        <button type="button" class="btn btn-success" style="margin-top: 1rem;" onclick="window.location.href = '{% url 'contact_info' %}'">Proceed to Checkout</button>

        <h4 style="margin-top: 3rem;" class="decorated"><span>My Items</span></h4>
    </div>

    <div class="card-group properties" style="justify-content: center; width: 80%; margin: 0 auto">
        {% for property in properties.all %}
            {% include 'property/single_property.html' with property=property %}
        {% endfor %}
    </div>
{% endblock %}