{% extends 'base.html' %}

{% block content %}
    <h1 style="text-align: center; margin-top: 1rem;">My Cart</h1>

    <button type="button" class="btn btn-success" style="align-items: center;" onclick="window.location.href = '{% url 'contact_info' %}'">Proceed to Checkout</button>

    <div class="card-group properties" style="justify-content: center; width: 80%; margin: 0 auto">
        {% for property in properties.all %}
            {% include 'property/single_property.html' with property=property %}
        {% endfor %}
    </div>
{% endblock %}