{% extends 'base.html' %}
{% load humanize %}

{% block content %}
    <head>
        <title>Favourites</title>
    </head>

    <script type="text/javascript">
    function emptyCart() {
        let total = document.getElementById("total").innerText;
        if (total === "0"){
            document.getElementById("noFavourites").style.display = "inline";
        }
    }
    </script>

    <body onload="emptyCart()"></body>

    <div id="cart_title">
        <h1>My Favourites</h1>

        <h6 style="display:none" id="total">Total: {{ total|floatformat:"0"|intcomma }}kr.</h6>
        <p>This site displays all the properties you have tagged as 'favourites'. Here you have easy access to those properties and can add them to your cart.</p>

        <h4 style="margin-top: 3rem;" class="decorated"><span>My Favorites</span></h4>
    </div>

    <div class="card-group properties" style="justify-content: center; width: 80%; margin: 0 auto">
        <h2 id="noFavourites" style="display: none">You don't have any favourite properties.</h2>
        {% for property in properties.all %}
            <div class="wrapped_flex_properties">
                <div>
                    {% include 'property/single_property.html' with property=property %}
                </div>
                <div>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="property_id" value="{{ property.id }}" />
                        <button type="submit" class="btn btn-primary" name='add_to_cart' style="float: left; margin-right: 2%;">Add To Cart</button>
                        <button type="submit" class="btn btn-primary" name='delete_property' style="float: left; margin-right: 2%;">Remove</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
