{% extends 'base.html' %}
{% load static %}

{% block content %}
    <head>
        <title>My profile</title>
    </head>
    <div class="container">
        <div class="row">

                <!--Image-->

                <img class="rounded float-left" style="width: 200px; height: 200px; margin-top: 1rem;" src={{ user.profile.profile_picture.url }} >

                <div id="realtor_info">
                    <h5 id="realtor_name">{{user.first_name}} {{ user.last_name }}</h5>
                    <p class="realtor_item">Phone: {{ user_info.phone_number }}</p>
                    <p class="realtor_item">Email: {{ user.email }}</p>
                    <p class="realtor_item">Town: {{ user_info.zip }}, {{ user_info.city }}</p>
                </div>
        </div>
        <button type="button" class="btn btn-secondary" onclick="window.location.href = '{% url 'edit_profile' %}'">Edit Profile</button>
    </div>

    <div class="card-group properties" style="justify-content: center; width: 100%; margin: 0 auto;">

        <!-- RECENTLY VIEWED -->
        {% include 'property/recently_viewed.html' %}

    </div>

{% endblock %}


