{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <head>
        <title>Register user</title>
    </head>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <hr class="mt-0 mb-4">
                <h1 style="text-align: center">Register</h1>
                <form method="post">
                    {% csrf_token %}
                    <div style="display: flex; justify-content: center;">
                        {{ form.username|as_crispy_field }}
                    </div>
                    <div class="row">
                        <div class="col-6">
                            {{ form.password1|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.password2|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            {{ form.first_name|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.last_name|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            {{ form.email|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.phone_number|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            {{ form.street_name|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.street_number|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            {{ form.zip|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.city|as_crispy_field }}
                        </div>
                    </div>
                    <div style="display: flex; justify-content: center;">
                        <button type="submit" class="btn btn-success" style="width: 20em;">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}